.app-container {
  height: 100vh;
}

.header {
  display: flex;
  gap: 3rem;
  padding: 2rem 3rem;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.header a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}

@media only screen and (max-width: 450px) {
  .header{
    padding: 2rem 2rem;
    gap: 1rem;
  }

  .header a {
    font-size: 1rem;
  }
}

.header a:hover {
  color: #007BFF;
}

.app-content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.header a.active {
  color: #007BFF;
}
